<ion-view title="Update ME">
  <ion-content>

    <div class="overviewMain">
    
    <!-- START Header -->
    <h2>OVERVIEW</h2>
    <h4>A short view of your earnings</h4>

  <svg id="svg" viewbox="0 0 100 100">
  <circle cx="50" cy="50" r="45" fill="#FDB900"/>
  <path fill="none" stroke-linecap="round" stroke-width="5" stroke="#fff"
        stroke-dasharray="1,250.2"
        d="M50 10
           a 40 40 0 0 1 0 80
           a 40 40 0 0 1 0 -80"/>
  <text x="50" y="50" text-anchor="middle" dy="7" font-size="20">1%</text>
</svg>
<svg viewbox="0 0 100 100">
  <circle cx="50" cy="50" r="45" fill="#FDB900"/>
  <path fill="none" stroke-linecap="round" stroke-width="5" stroke="#fff"
        stroke-dasharray="125.6,125.6"
        d="M50 10
           a 40 40 0 0 1 0 80
           a 40 40 0 0 1 0 -80"/>
  <text x="50" y="50" text-anchor="middle" dy="7" font-size="20">50%</text>
</svg>
<svg viewbox="0 0 100 100">
  <circle cx="50" cy="50" r="45" fill="#FDB900"/>
  <path fill="none" stroke-linecap="round" stroke-width="5" stroke="#fff"
        stroke-dasharray="251.2,0"
        d="M50 10
           a 40 40 0 0 1 0 80
           a 40 40 0 0 1 0 -80"/>
  <text x="50" y="50" text-anchor="middle" dy="7" font-size="20">100%</text>
</svg>

<svg id="animated" viewbox="0 0 100 100">
  <circle cx="50" cy="50" r="45" fill="#FDB900"/>
  <path id="progress" stroke-linecap="round" stroke-width="5" stroke="#fff" fill="none"
        d="M50 10
           a 40 40 0 0 1 0 80
           a 40 40 0 0 1 0 -80">
  </path>
  <text id="count" x="50" y="50" text-anchor="middle" dy="7" font-size="20">100%</text>
</svg>


    </div>

    <!-- END Header -->
    
    <!-- START Investment chart section -->
    <!-- END Investment chart section -->
    
    <!-- START Your properties section -->
    <div class="overviewTitle">
      <h2>INVESTMENTS</h2>
      <h4>List of your properties</h4>
    </div>  
    <div id="INVESTMENTSimg"></div>
    <!-- END Your properties section -->
    
    <!-- START Special deals section -->
    <div class="overviewTitle">
      <h2>SPECIAL DEALS</h2>
      <h4>Similar properties that you invested</h4>
    </div>
    <div id="SPECIAL_DEALSimg"></div>


    <!-- END Special deals section -->
  </ion-content>
</ion-view>