<ion-view title="Update ME">
  <ion-content>

    <div class="overviewMain" ng-click="showAllBar()">
    
    <!-- START Header -->
	    <h2>OVERVIEW</h2>
	    <h4>A short view of your earnings</h4>
		<div id='outer' >
		    <div id="main" style="width:200px; height:200px; ">
		        <div id="div1"></div>
		    </div>
		</div>
		
		<div id="barValue">
			<ul>
				<li>
					<span>Totla Investment</span>
					<span></span>					
				</li>
				<li>
					<span>Total Returns</span>
					<span></span>	
				</li>
				<li>
					<span>Total Time</span>
					<span></span>	
				</li>
				<li>
					<span>Yield</span>
					<span></span>	
				</li>
			</ul>					
		</div>
    </div>

    <!-- END Header -->
    
    <!-- START Investment chart section -->
    <!-- END Investment chart section -->
    
    <!-- START Your properties section -->
    <div class="overviewTitle"">
      <h2>INVESTMENTS</h2>
      <h4>List of your properties</h4>
    </div>  
    <div id="INVESTMENTSimg">
    	<div ng-repeat="property in propertyImage" class="animated fadeInLeft col {{property.class}}" 
    	ng-style="{'background-image': 'url(http://ec2-52-32-92-71.us-west-2.compute.amazonaws.com/uploads/{{ property.FileName }})'}">
    	</div>
    </div>
    <!-- END Your properties section -->
    
    <!-- START Special deals section -->
    <div class="overviewTitle">
      <h2>SPECIAL DEALS</h2>
      <h4>Similar properties that you invested</h4>
    </div>
    <div id="SPECIAL_DEALSimg">
    	<div ng-repeat="property in specialPropertyImage" class="animated fadeInLeft col {{property.class}}" 
    	ng-style="{'background-image': 'url(http://ec2-52-32-92-71.us-west-2.compute.amazonaws.com/uploads/{{ property.FileName }})'}">
    	</div>
    </div>

    <!-- END Special deals section -->
  </ion-content>
</ion-view>

<script type="text/javascript">

</script>
