<ion-view title="Update ME">
  <ion-content>

    <div class="overviewMain">
    
    <!-- START Header -->
	    <h2>OVERVIEW</h2>
	    <h4>A short view of your earnings</h4>
		<div id='outer' >
		    <div id="main" style="width:600px; height:200px; margin: 0px auto; ">
		        <div id="div1"></div>
		    </div>
		</div>
    </div>

    <!-- END Header -->
    
    <!-- START Investment chart section -->
    <!-- END Investment chart section -->
    
    <!-- START Your properties section -->
    <div class="overviewTitle">
      <h2>INVESTMENTS</h2>
      <h4>List of your properties</h4>
    </div>  
    <div id="INVESTMENTSimg"></div>
    <!-- END Your properties section -->
    
    <!-- START Special deals section -->
    <div class="overviewTitle">
      <h2>SPECIAL DEALS</h2>
      <h4>Similar properties that you invested</h4>
    </div>
    <div id="SPECIAL_DEALSimg"></div>


    <!-- END Special deals section -->
  </ion-content>
</ion-view>

<script type="text/javascript">

</script>
